{% extends "base.html" %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}

    <header class="flex p-2">
        {% load static %}

        <img class="self-center h-40"
             height="160"
             width="100"
             alt="book cover"
             src="{% static book.cover.url %}">

        <div class="flex flex-col gap-2 ml-2 w-full">
            <hgroup class="mb-1">
                <h1 class="text-2xl font-semibold text-gray-200">{{ book.title }}</h1>
                <p class="text-gray-400">by {{ book.author }}</p>
            </hgroup>

            <button class="py-2 px-1 font-semibold text-white rounded shadow shadow-sky-900 bg-sky-700 hover:bg-sky-600">
                Read
            </button>
            <div class="flex gap-2 justify-between">
                <form class="w-full">
                    <input type="checkbox"
                           id="follow"
                           name="follow"
                           value="followed"
                           class="hidden peer">
                    <label for="follow"
                           class="block py-2 px-1 w-full font-semibold text-center text-white bg-gray-700 rounded shadow hover:bg-gray-600 peer-checked:bg-sky-700 peer-checked:shadow-sky-800 shadow-gray-900">
                        Follow
                    </label>
                </form>
                <form class="w-full">
                    <input type="checkbox"
                           id="later"
                           name="later"
                           value="latered"
                           class="hidden peer">
                    <label for="later"
                           class="block py-2 px-1 w-full font-semibold text-center text-white bg-gray-700 rounded shadow hover:bg-gray-600 peer-checked:bg-sky-700 peer-checked:shadow-sky-800 shadow-gray-900">
                        Later
                    </label>
                </form>
            </div>
        </div>
    </header>

    <section class="p-2 mx-2 mb-2 bg-gray-700 rounded shadow shadow-gray-900 text-gray-200">
        <p>{{ book.synopsis }}</p>

        <div class="flex text-gray-200">
            <p class="p-1 text-sm bg-gray-600 rounded shadow shadow-gray-800">test tag</p>
        </div>

        <div clas="flex">
            <p>views and shit here</p>
        </div>
    </section>

    <section class="p-2 mx-2 mb-2 bg-gray-700 rounded shadow shadow-gray-900">
        <form>
            <fieldset class="flex gap-2">
                <legend class="text-gray-300 text-semibold">I think the book was written</legend>
                <input type="hidden" name="quality" value="0">

                <input class="hidden peer/poorly"
                       type="radio"
                       id="poorly"
                       name="quality"
                       value="1">
                <label class="block py-2 px-1 w-full font-semibold text-center text-gray-300 bg-gray-600 rounded shadow peer-checked/poorly:bg-sky-700 peer-checked/poorly:shadow-sky-800 shadow-gray-800"
                       for="poorly">Poorly</label>

                <input class="hidden peer/well"
                       type="radio"
                       id="well"
                       name="quality"
                       value="2">
                <label class="block py-2 px-1 w-full font-semibold text-center text-gray-300 bg-gray-600 rounded shadow peer-checked/well:bg-sky-700 peer-checked/well:shadow-sky-800 shadow-gray-800"
                       for="well">Well</label>
            </fieldset>

            <fieldset class="flex gap-2">
                <legend class="text-gray-300 text-semibold">I personally</legend>
                <input type="hidden" name="popularity" value="0">

                <input class="hidden peer/disliked"
                       type="radio"
                       id="disliked"
                       name="popularity"
                       value="1">
                <label class="block py-2 px-1 w-full font-semibold text-center text-gray-300 bg-gray-600 rounded shadow peer-checked/disliked:bg-sky-700 peer-checked/disliked:shadow-sky-800 shadow-gray-800"
                       for="disliked">disliked</label>

                <input class="hidden peer/liked"
                       type="radio"
                       id="liked"
                       name="popularity"
                       value="2">
                <label class="block py-2 px-1 w-full font-semibold text-center text-gray-300 bg-gray-600 rounded shadow peer-checked/liked:bg-sky-700 peer-checked/liked:shadow-sky-800 shadow-gray-800"
                       for="liked">Liked</label>
            </fieldset>
        </form>
    </section>

    <section class="p-2 mx-2 bg-gray-700 rounded shadow shadow-gray-900">
        <h1 class="text-lg font-semibold text-gray-300">Table of Contents</h1>

        <table class="w-full border border-gray-700 border-collapse">
            <tbody>
                {% for chapter in book.chapters.all %}
                    <tr class="[&:nth-child(even)_td]:bg-gray-800">
                        <td class="pl-1 text-left text-gray-200 rounded-l">
                            <a href="{% url 'books:read_chapter' book.id chapter.chapter_number %}">{{ chapter.title }}</a>
                        </td>
                        <td class="pr-1 text-right text-gray-300 rounded-r">
                            <p>{{ chapter.created_date }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
