<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webshelf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/">Webshelf</a>
            <a href="{% url 'desk:dashboard' %}">Write</a>
        </nav>

        <h2>latest books</h2>
        {% for book in latest_book_list %}
            <a href="{% url 'books:index' book.id %}">{{ book.title }}</a>
        {% endfor %}
    
    </body>
</html>
