{% extends "base.html" %} 
{% block title %}Webshelf{% endblock %} 
{% block content %}

<section class="p-2">
    <h2 class="text-lg font-semibold text-gray-200">latest books</h2>

    {% for book in latest_book_list %}
    <!-- should probably make this an hx-get -->
    <!-- TODO: change all drop shadows to shadow -->
    <div
        hx-get="{% url 'books:index' book.id %}"
        hx-target="body"
        hx-push-url="true"
        class="mb-2 rounded cursor-pointer bg-gray-700 text-gray-300 shadow-md shadow-gray-900"
    >
        <h1 class="p-2 text-lg text-gray-200">{{ book.title }}</h1>

        <div class="flex flex-wrap gap-2 px-2 pb-2 text-gray-300">
            <p class="text-sm rounded p-1 shadow shadow-gray-800 bg-gray-700">test tag</p>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}
